<a href="https://colab.research.google.com/github/siribafna/Myocardial-Infarction-Predictions/blob/main/KNN_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/siribafna/Myocardial-Infarction-Predictions/main/MI.txt', sep=',')

In [44]:
data.head()

   ID   AGE  SEX  INF_ANAM  STENOK_AN  ...  DRESSLER  ZSN  REC_IM  P_IM_STEN  LET_IS
0   1  77.0    1       2.0        1.0  ...         0    0       0          0       0
1   2  55.0    1       1.0        0.0  ...         0    0       0          0       0
2   3  52.0    1       0.0        0.0  ...         0    0       0          0       0
3   4  68.0    0       0.0        0.0  ...         0    1       0          0       0
4   5  60.0    1       0.0        0.0  ...         0    0       0          0       0

[5 rows x 124 columns]

In [45]:
df = data[['AGE', 'SEX', 'INF_ANAM', 'STENOK_AN', 'FK_STENOK', 'CHD', 'IBS_NASL', 'LET_IS']]
df.isnull().sum()
#df.fillna(df.mean(), inplace=True)

AGE             8
SEX             0
INF_ANAM        4
STENOK_AN     106
FK_STENOK      73
CHD            51
IBS_NASL     1628
LET_IS          0
dtype: int64

In [50]:
df.head()

    AGE  SEX  INF_ANAM  STENOK_AN  FK_STENOK  CHD  IBS_NASL  LET_IS
0  77.0    1       2.0        1.0        1.0  2.0       NaN       0
1  55.0    1       1.0        0.0        0.0  0.0       0.0       0
2  52.0    1       0.0        0.0        0.0  2.0       NaN       0
3  68.0    0       0.0        0.0        0.0  2.0       NaN       0
4  60.0    1       0.0        0.0        0.0  2.0       NaN       0

In [52]:
# fill missing values
import numpy as np

df.fillna(df.mean(), inplace=True)
df.isnull().sum()

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

AGE          0
SEX          0
INF_ANAM     0
STENOK_AN    0
FK_STENOK    0
CHD          0
IBS_NASL     0
LET_IS       0
dtype: int64

In [53]:
# train test split
from sklearn.model_selection import train_test_split

X = df.loc[:, ['AGE', 'SEX', 'INF_ANAM', 'STENOK_AN', 'FK_STENOK', 'CHD', 'IBS_NASL']]
y = df['LET_IS']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

print('train size:', X_train.shape)
print('test size:', X_test.shape)

train size: (1360, 7)
test size: (340, 7)

In [54]:
from sklearn.neighbors import KNeighborsClassifier

clf = KNeighborsClassifier(n_neighbors = 5)
clf.fit(X_train, y_train)

KNeighborsClassifier()

In [55]:
# make predictions

pred = clf.predict(X_test)

In [58]:
# evaluate
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print('accuracy score: ', accuracy_score(y_test, pred))

accuracy score:  0.8441176470588235

In [64]:
 # evaluate
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print('accuracy score: ', accuracy_score(y_test, pred))
print('precision score: ', precision_score(y_test, pred, average='micro'))
print('recall score: ', recall_score(y_test, pred, average='micro'))
print('f1 score: ', f1_score(y_test, pred, average='micro'))

accuracy score:  0.8441176470588235
precision score:  0.8441176470588235
recall score:  0.8441176470588235
f1 score:  0.8441176470588234

In [65]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.85      0.99      0.92       289
           1       0.00      0.00      0.00        19
           2       0.00      0.00      0.00         6
           3       0.00      0.00      0.00         9
           4       0.00      0.00      0.00         5
           5       0.00      0.00      0.00         2
           6       0.00      0.00      0.00         3
           7       0.00      0.00      0.00         7

    accuracy                           0.84       340
   macro avg       0.11      0.12      0.11       340
weighted avg       0.72      0.84      0.78       340

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))